* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#carrera {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    text-align: center;
}

#pista {
    background: url('../img/bg-pista.jpg') center left repeat-x;
    height: 330px;
    border-right: dashed 10px rgb(238, 210, 0);
    box-sizing: border-box;
    margin: 40px 0;
}

.car {
    display: block;
    position: relative;
}

#car1 {
    top: 50px;
}

#car2 {
    top: 125px;
}

#resultado {
    width: 80%;
    margin: 40px auto 0;
    background: #222222;
    height: 200px;
}

#resultado h2 {
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 1px #fff;
    padding: 20px 0;
}

.infoCarrera {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    width: 50%;
    float: left;
    padding-top: 10px;
}

.infoCarrera span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

#infoCarrera1 {
    color: #117c00;
}

#infoCarrera2 {
    color: #ba1300;
}

input[type="button"] {
    background: #77b72f;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #77b72f;
    margin-right: 5px;
    box-shadow: 2px 1px 1px .5px rgba(0, 0, 0, .3);
    cursor: pointer;
}

input#reset {
    background: #fcb51c;
    border: solid 1px #fcb51c;
    margin-left: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}